/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
section{
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  margin: 100px auto;
}
.square{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
