/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
section{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  height: 60%;
  
}
.board{
  width: 20%;
  height: 20%;
  border: 2px solid black;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
